<body>
    <div class="all-beers">
   
        <% allBeers.forEach((beer) => { %>
            
                    <img class="all-beers-img" src="<%= beer.image_url %>" alt="beer picture">
                    <h2><a href="/beers/<%= beer._id %>"><%= beer.name %></a></h2>
                    <h3 class="tagline"><%= beer.tagline %></h3>
                    <p><%= beer.description %></p>
                
           
        <% }) %>
    
</div>
</body>